/* lato-300 - latin */
@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 300;
  src: url("../datamola-cv/fonts/lato-v23-latin-300.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("../datamola-cv/fonts/lato-v23-latin-300.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("../datamola-cv/fonts/lato-v23-latin-300.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("../datamola-cv/fonts/lato-v23-latin-300.woff") format("woff"),
    /* Modern Browsers */ url("../datamola-cv/fonts/lato-v23-latin-300.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("../datamola-cv/fonts/lato-v23-latin-300.svg#Lato") format("svg"); /* Legacy iOS */
}
/* lato-regular - latin */
@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  src: url("../datamola-cv/fonts/lato-v23-latin-regular.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("../datamola-cv/fonts/lato-v23-latin-regular.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("../datamola-cv/fonts/lato-v23-latin-regular.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("../datamola-cv/fonts/lato-v23-latin-regular.woff") format("woff"),
    /* Modern Browsers */ url("../datamola-cv/fonts/lato-v23-latin-regular.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("../datamola-cv/fonts/lato-v23-latin-regular.svg#Lato") format("svg"); /* Legacy iOS */
}
/* lato-700 - latin */
@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  src: url("../datamola-cv/fonts/lato-v23-latin-700.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("../datamola-cv/fonts/lato-v23-latin-700.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("../datamola-cv/fonts/lato-v23-latin-700.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("../datamola-cv/fonts/lato-v23-latin-700.woff") format("woff"),
    /* Modern Browsers */ url("../datamola-cv/fonts/lato-v23-latin-700.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("../datamola-cv/fonts/lato-v23-latin-700.svg#Lato") format("svg"); /* Legacy iOS */
}
*,
*::after,
*::before {
  box-sizing: border-box;
}
bode,
html {
  font-family: "Lato", sans-serif;
  font-size: 100%;
  line-height: 150%;
  color: #636060;
}
html{
  scroll-behavior:smooth
}
body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
li {
  padding: 0;
  margin: 0;
}
li {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: inherit;
}
img {
  max-width: 100%;
  display: block;
}
h2{
  text-align: center;
  font-size: 1.5em;
  margin-bottom: 0.8rem;
  text-decoration: underline;
}
.container {
  max-width: 90rem;
  margin-left: auto;
  margin-right: auto;
  padding-left: 7.5rem;
  padding-right: 7.5rem;
}

/* Header */
header,
footer {
  max-width: 100%;
  background-color: rgb(49, 65, 109);
  color: #fff;
}

.header__nav-list {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.header__nav-item {
  margin-right: 1em;
}
.header__nav-item:last-child{
  margin-right: 0;
}
.header__nav-link {
  text-transform: uppercase;
  margin-right: 2rem;
  font-weight: 600;
  transition: .3s;
  cursor: pointer;
}
.header__nav-item:hover{
  color: #e06733;
  transform: scale(1.2);
  transition: all .3s ease;
}
/* Main info section */
.main__info {
  padding: 2em; 

}
.container {
}
.main__info-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.profile_foto {
  max-width: 27%;
}
.main__info-descr{
  text-align: center;
}
.main__info-name {
  text-transform: uppercase;
  font-size: 3em;
  font-weight: 500;
  margin-bottom: 2rem;
  position: relative;
}
.main__info-name span{
  font-weight: 700;
  
}
.main__info-name::after{
  content: '';
  position: absolute;
  width: 100%;
  height: 0.1rem;
  top: 2rem;
  left: 0;
  background: #000;
}
.main__info-vacant {
  font-size: 1.5em;
}
.inner{
  display: grid;
  grid-template-columns: 25% 75%;
  gap: 1rem;
}
/* Aside Contacts */
.contacts {
  
}
.container {
}
.contacts__wrapper,
.about__wrapper,
.skills__wrapper,
.language__wrapper,
.employment__wrapper,
.interests__wrapper,
.projects__wrapper,
.footer__wrapper {
  
  margin-right: 1rem;
  margin-left: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
}
.contacts__title {
  
}
.contacts__list {
}
.contacts__item,
.skills__item,
.education__item,
.language__item,
.interests__item,
.projects__item {
  position: relative;
  padding-left: 1.5rem;
}
.contacts__item::after,
.skills__item::after,
.education__item::after,
.language__item::after,
.interests__item::after,
.projects__item::after{
  position: absolute;
  content: '';
  width: 1rem;
  height: 1rem;
  top: 0.375rem;
  left: 0;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
}
.adress::after {
  background-image: url(../datamola-cv/icons/location.png);  
}
.e-mail::after {
  background-image: url(../datamola-cv/icons/mail.png);
}
.telegram::after {
  background-image: url(../datamola-cv/icons/telegram.png);
}
.github::after {
  background-image: url(../datamola-cv/icons/github.png);
}
.tel::after {
  background-image: url(../datamola-cv/icons/phone-call.png);
}
.contacts__item::after:hover{
  transform: scale(1.2);
  transition: all .3s ease;
}

.html::after {
  background-image: url(../datamola-cv/icons/html.png);
}
.css::after {
  background-image: url(../datamola-cv/icons/css.png);
}
.figma::after {
  background-image: url(../datamola-cv/icons/figma.png);
}
.javascript::after {
  background-image: url(../datamola-cv/icons/script.png);
}
.education__item::after,
.projects__item::after{
  background-image: url(../datamola-cv/icons/arrow-right.png);
}
.language__item::after{
  background-image: url(../datamola-cv/icons/language.png);
}

.soccer::after {
  background-image: url(../datamola-cv/icons/football.png);
}
.running::after {
  background-image: url(../datamola-cv/icons/running-man.png);
}
.reading::after {
  background-image: url(../datamola-cv/icons/reading-book.png);
}
.movies::after {
  background-image: url(../datamola-cv/icons/video.png);
}
.music::after {
  background-image: url(../datamola-cv/icons/headphones.png);
}
.container {
}
.footer__wrapper {
  margin-top: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 1rem;
  padding-top: 1rem;
}
.footer__author{
  position: relative;
  padding-left: 2rem;
}
.footer__author::before{
  position: absolute;
  top: 0;
  left: 0;
  width: 1.5rem;
  height: 1.5rem;
  content: '';
  background-image: url(../datamola-cv/icons/github-mark-white.png);  
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
}
